<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- 
Valid logging levels: TRACE, DEBUG, INFO, WARN and ERROR
-->
<configuration>
    <!-- Log file destinations are defined here -->
    <property name="APP_LOG_PATH" value="${catalina.home}/logs"/>
    <property name="APP_LOG_FILE_BASE" value="blockly-app"/>

    <appender name="RotateLogFiles" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_PATH}/${APP_LOG_FILE_BASE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
    	    <fileNamePattern>${APP_LOG_PATH}/${APP_LOG_FILE_BASE}%i.log</fileNamePattern>
	        <minIndex>1</minIndex>
	        <maxIndex>20</maxIndex>
	    </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
	    </triggeringPolicy>
     
	    <encoder>
            <pattern>%date %level [%file:%line] %msg%n</pattern>
	    </encoder>
    </appender>   

    <logger name="fixWindowBased" level="INFO">
        <appender-ref ref="RotateLogFiles" />
    </logger>

    <logger name="com.parallax.server.blocklyprop.monitoring" level="info">
        <appender-ref ref="RotateLogFiles"/>
    </logger>

    <root level="info">
        <appender-ref ref="RotateLogFiles" />
    </root>
</configuration>