<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>
    <loggers>
        <Logger name="com.parallax.server.blocklyprop.monitoring" level="trace" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
        <root level="info">
            <appender-ref ref="stdout"/>
        </root>
    </loggers>
</log4j:configuration>