body {
    background-color: white;
    font-family: sans-serif;
    //   margin: 0;
    //   padding:0;
    //   overflow: hidden;
}

.fixed-table-body {
    height: auto;
}

.editor-c-link.editor-icon {
    background-image: url('images/lang-icons/c.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}

.editor-spin-link.editor-icon {
    background-image: url('images/lang-icons/spin.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}

.navbar-brand#nav-logo {
    background-image: url('images/logo_small.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position-y: 5px;
    padding-left: 50px;
    margin-left: 0;
}