body {
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    padding:0;
    overflow: hidden;
}
.blocklySvg {
    height: 100%;
    width: 100%;
}
h1 {
    font-weight: normal;
    font-size: 140%;
}
td {
    vertical-align: top;
}

/* Tabs */
#tabRow>td {
    border: 1px solid #ccc;
}
td.tabon {
    border-bottom-color: #ddd !important;
    background-color: #ddd;
    padding: 5px 19px;
}
td.taboff {
    cursor: pointer;
    padding: 5px 19px;
}
td.taboff:hover {
    background-color: #eee;
}
td.tabmin {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
}
td.tabmax {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    width: 99%;
    text-align: right;
}
table#content_table {
    width: 100%;
    height: 100%;
}
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: none;
}
td {
    padding: 0;
}
pre,
#content_xml,
#content_spin,
#content_propc {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top-style: none;
    overflow: hidden;
    display: none;
}
#textarea_xml,
#textarea_spin,
#textarea_propc,
#code-xml,
#code-spin,
#code-propc{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}
#content_blocks, #content {
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-top-style: none;
}
button {
    padding: 1px 1em;
    font-size: 90%;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: black;
}
button.launch {
    border: 1px solid #d43;
    background-color: #d43;
    color: white;
}
button:active {
    border: 1px solid blue !important;
}
button:hover {
    box-shadow: 2px 2px 5px #888;
}

.console, .terminal {
    margin-bottom: 20px;
    margin-right: 10px;
}

#console-dialog .modal-dialog {
    /* new custom width */
    width: 610px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /* margin-left: -305px; */
}

.navbar {
    margin-bottom: 0;
}

.not_available {
    color: #ff6666 !important;
}

.available {
    color: #33cc00 !important;
}

.space_left {
    margin-left: 10px;
}

.space_right {
    margin-right: 10px;
}

#nav-logo {
    background-image: url('images/logo_small.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 60px;
    margin-left: 0;
    color: #BCD0E4;
    height: 50px;
    font-size: 25px;
    position: absolute;
}

a#nav-logo:hover, a#nav-logo:active {
    text-decoration: none;
}

#navbar-left {
    padding-left: 46px;
}

nav .nav > li > a {
    padding: 27px 15px 3px 15px;
}

nav .nav > li > a:first-child {
    padding-left: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

