html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: white;
    font-family: sans-serif;
    /*   margin: 0;  */
    /*   padding:0;  */
    /*   overflow: hidden;  */
    /*
    /* Margin bottom by footer height */
    padding-bottom: 60px;
}

.fixed-table-body {
    height: auto;
}

.editor-c-link.editor-icon {
    background-image: url('images/lang-icons/c.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 22px;
}

.editor-spin-link.editor-icon {
    background-image: url('images/lang-icons/spin.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 22px;
}

.icon-board-s3.editor-icon {
    background-image: url('images/board-icons/IconS3.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 22px;
}

.icon-board-ab.editor-icon {
    background-image: url('images/board-icons/IconActivityBoard.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 22px;
}

.icon-board-flip.editor-icon {
    background-image: url('images/board-icons/IconFlip.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 22px;
}

.icon-board-heb.editor-icon {
    background-image: url('images/board-icons/IconBadge.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 22px;
}

.icon-board-other.editor-icon {
    background-image: url('images/board-icons/IconOtherBoards.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 22px;
}

.icon-board-propc.editor-icon {
    background-image: url('images/board-icons/IconC.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 22px;
}

.navbar-brand#nav-logo {
    background-image: url('images/logo_small.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position-y: 5px;
    padding-left: 50px;
    margin-left: 0;
}

.container .jumbotron {

    padding-top: 20px;
    padding-bottom: 20px;
    color: #215C8A;
    border-radius: 0;
}

.container .jumbotron .logo {
    background-image: url('images/logo_small.png');
    background-repeat: no-repeat;
    background-size: 80px 80px;
    padding-left: 100px;
    height: 90px;
}

.full-width {
    max-width:100%;
}

ul.latest-projects {
    padding-left: 0;
}

li.project {
    list-style-type: none;
}

.pad-latest-projects {
    padding-top: 2rem;
}

/* Push footer to bottom */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 52px;
    background-color: #E3E3E3;
}

.footer .navbar {
    margin-bottom: 0;
}

/* Help */
.short {
    display: none;
}

.result {
    border-left: 1px #23527C dotted;
    padding: 2px 0 3px 14px;
    background: #f5f5f5;
    margin-bottom: 15px
}

/* Markdown editor */
.CodeMirror, .CodeMirror-scroll {
    max-height: 150px !important;
}

.CodeMirror-fullscreen .CodeMirror, .CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}

div#project div.wizard-container {
    padding-top: 70px;
}

.description-html {
    padding: 10px;
    margin: 10px;
    background-color: #f5f5f5;
}

.infolink:before
{
    content: '?';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 2ex;
    height: 2ex;
    font-size: 1.6ex;
    line-height: 2ex;
    border-radius: 1.4ex;
    margin-right: 2px;
    padding: 1px;
    color: white;
    background: grey;
    border: 1px solid grey;
    text-decoration: none;
}

.infolink:hover:before
{
    color: grey;
    background: white;
    border-color: grey;
    text-decoration: none;
}
