.clients .client {
    display: none;
}

body.all-clients .clients .client, body.unknown-client .clients .client {
    display: block;
}

body.Windows .clients .Windows {
    display: block;
}

body.MacOS .clients .MacOS {
    display: block;
}

body.Linux .clients .Linux {
    display: block;
}