.clients .client {
    display: none;
    border-left: 1px #23527C dotted;
    padding: 5px 0 5px 14px;
    background: #f5f5f5;
    margin-bottom: 15px
}

.clients .client img {
    display: inline;
    height: 64px;
    width: 64px;
}

body.all-clients .clients .client, body.unknown-client .clients .client {
    display: block;
}

body.Windows .clients .client.Windows {
    display: block;
}

body.MacOS .clients .client.MacOS {
    display: block;
}

body.Linux .clients .client.Linux {
    display: block;
}

body.all-clients .show-all, body.unkown-client .show-all {
    display: none;
}