html, body {
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    padding:0;
    overflow: hidden;
}
.blocklySvg {
    height: 100%;
    width: 100%;
}

#content_blocks {
    background-color: #fff;
    margin: 0;
    padding:0;
    overflow: hidden;
    height: 100%;
    width: 100%
}

.blocklyMinimalBody {
    height: 64px;
}

h1 {
    font-weight: normal;
    font-size: 140%;
}
td {
    vertical-align: top;
}

/* Tabs */
#tabRow>td {
    border: 1px solid #ccc;
}
td.tabon {
    border-bottom-color: #ddd !important;
    background-color: #ddd;
    padding: 5px 19px;
}
td.taboff {
    cursor: pointer;
    padding: 5px 19px;
}
td.taboff:hover {
    background-color: #eee;
}
td.tabmin {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
}
td.tabmax {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    width: 99%;
    text-align: right;
}
table#content_table {
    width: 100%;
    height: 100%;
}
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: none;
}
td {
    padding: 0;
}
pre,
#content_xml,
#content_spin,
#content_propc {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top-style: none;
    overflow: hidden;
    display: none;
}
#textarea_xml,
#textarea_spin,
#textarea_propc,
#code-xml,
#code-spin,
#code-propc{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}
#content_blocks, #content {
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-top-style: none;
}
button {
    padding: 1px 1em;
    font-size: 90%;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: black;
}
button.launch {
    border: 1px solid #d43;
    background-color: #d43;
    color: white;
}
button:active {
    border: 1px solid blue !important;
}
button:hover {
    box-shadow: 2px 2px 5px #888;
}

.console, .terminal {
    margin-bottom: 20px;
    margin-right: 10px;
}

.prop-term {
    vertical-align: text-top;
    background: black;
    font-size: 13px;
    font-family: Andale Mono, Droid Sans Mono, Consolas, monospace;
    color: white;
    width: 575px;
    height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 110%;
    border: 2px solid black;
}

.prop-term:focus {
    outline-width: 0;
}

.visual-beep {
    animation-name: vbeep;
    animation-duration: .25s;
}

@keyframes vbeep {
    0% {
        background: white;
        color: black;
    }
    100% {
        background: black;
        color: white;
    }
}

#serial-conn-info, #graph-conn-info {
    color: #bbb;
    font-size: 11px;
    overflow: hidden;
    margin-bottom: 5px;
}

#console-dialog .modal-dialog {
    /* new custom width */
    width: 610px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /* margin-left: -305px; */
}

.navbar {
    margin-bottom: 0;
}

.not_available {
    color: #a94442 !important;
}

.available {
    color: #8a6d3b !important;
}

.space_left {
    margin-left: 10px;
}

.space_right {
    margin-right: 10px;
}

#nav-logo {
    background-image: url('images/logo_small.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 55px;
    margin-left: 5px;
    margin-top: 5px;
    height: 50px;
    font-size: 22px;
    line-height: 25px;
    display: inline;
    float: left;
}

#nav-title {
    color: #BCD0E4;
    height: 50px;
    font-size: 25px;
    position: absolute;
}

#nav-title > span.project-name {
    margin-left: 15px;
}

a#nav-logo:hover, a#nav-logo:active {
    text-decoration: none;
}

#navbar-left {
    padding-left: 46px;
}

nav .nav > li > a {
    padding: 27px 15px 3px 15px;
}

nav .nav > li > a:first-child {
    padding-left: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

/* New Nav Scheme */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 15px;
}

.btn-circle:hover {
    box-shadow: 2px 2px 5px #89a;
}

#save-project {
    -webkit-transition: padding-left 1s, background 1s, border 1s;
    transition: padding-left 1s, background 1s, border 1s;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    width: 58px;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    margin-bottom: 0;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

#save-project:hover {
    box-shadow: 2px 2px 5px #89a;
}

.btn-view-blocks:hover {
    box-shadow: 2px 2px 5px #89a;
    color: #fff;
    text-decoration: none;
}

.btn-view-code:hover {
    box-shadow: 2px 2px 5px #89a;
    color: #333;
    text-decoration: none;
    background-color: #eee;
}

.btn-view-blocks {
    padding:7px 10px 7px 10px; 
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    background-color: #337ab7;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    text-decoration: none;
}

.btn-view-code {
    padding:7px 10px 7px 10px; 
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    background-color: white;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
}

#comPort {
    padding: 6px 8px 6px 8px;
    font-size: 12px;
    line-height: 1.5;
    margin: 2px 2px 2px 2px;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    background: white;
    /*
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOmh0bWw9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGh0bWwiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI4IiBoZWlnaHQ9IjIwIj48Zz48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNIDAsMTAgOCwxMCA0LDE0IHoiPjwvcGF0aD48L2c+PC9zdmc+Cg==) 90% 35% / 13% no-repeat;
    */
}

#comPort:hover {
    background-color: #eee;
    border-color: #adadad;
    box-shadow: 2px 2px 5px #888;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/

@media screen and (min-width: 0\0) {
    select {
        background: none;
        padding: 5px;
    }
}

#options-menu:hover {
    background-color: #eee;
}

.project-name-wrapper {
    font-size: 20px;
    line-height: 25px;
    color: #337ab7;
    text-decoration: none;
    display:inline; 
    float:right;
    padding-right: 10px;
}

.bp-client-available {
    background:none;
    border:1px solid rgba(0, 0, 0, 0);
    border-radius:4px;
    box-sizing:border-box;
    color:#333 !important;
    display:inline;
    font-size:14px;
    height:auto;
    line-height:20px;
    padding: 4px 4px 4px 0px;
    text-decoration:none;
    text-size-adjust:100%;
    width:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.client-searching-link {
    color:#8a6d3b !important; 
}

.bp-client-warning {
    background-color:#fcf8e3;
    border:1px solid rgb(250, 235, 204);
    border-radius:4px;
    box-sizing:border-box;
    color:#8a6d3b !important;
    display:inline;
    font-size:14px;
    height:auto;
    line-height:20px;
    padding:4px;
    text-decoration:none;
    text-size-adjust:100%;
    width:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.client-unavailable-link {
    color:rgb(169, 68, 66) !important;   
}

.bp-client-danger {
    background-color:#f2dede;
    border:1px solid rgb(235, 204, 209);
    border-radius:4px;
    box-sizing:border-box;
    color:rgb(169, 68, 66) !important;
    display:inline;
    font-size:14px;
    height:auto;
    line-height:20px;
    padding:4px;
    text-decoration:none;
    text-size-adjust:100%;
    width:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.xterm-rows {
    overflow-x: scroll;
}

/* Graphing Output */

.ct-series-a .ct-line {
    stroke-width: 1px;
    stroke: #00f;
}

.ct-series-b .ct-line {
    stroke-width: 1px;
    stroke: #0bb;
}

.ct-series-c .ct-line {
    stroke-width: 1px;
    stroke: #0d0;
}

.ct-series-d .ct-line {
    stroke-width: 1px;
    stroke: #dd0;
}

.ct-series-e .ct-line {
    stroke-width: 1px;
    stroke: #f90;
}

.ct-series-f .ct-line {
    stroke-width: 1px;
    stroke: #f00;
}

.ct-series-g .ct-line {
    stroke-width: 1px;
    stroke: #d09;
}

.ct-series-h .ct-line {
    stroke-width: 1px;
    stroke: #90d;
}

.ct-series-i .ct-line {
    stroke-width: 1px;
    stroke: #777;
}

.ct-series-j .ct-line {
    stroke-width: 1px;
    stroke: #000
}

.ct-marker-1 {
    fill: #00f;
}

.ct-marker-2 {
    fill: #0bb;
}

.ct-marker-3 {
    fill: #0d0;
}

.ct-marker-4 {
    fill: #dd0;
}

.ct-marker-5 {
    fill: #f90;
}

.ct-marker-6 {
    fill: #f00;
}

.ct-marker-7 {
    fill: #d09;
}

.ct-marker-8 {
    fill: #90d;
}

.ct-marker-9 {
    fill: #777;
}

.ct-marker-10 {
    fill: #000
}
