<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- filters ORDER MATTERS! -->
    <!-- Shiro -->
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <!-- Guice -->
    <filter>
        <filter-name>GuiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>GuiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Listeners -->
    <!-- Guice -->
    <listener>
        <listener-class>com.parallax.server.blocklyprop.config.SetupConfig</listener-class>
    </listener>

    <!-- Shiro -->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <!-- Rest API Visualizer -->

    <!-- Cuubez API Visualizer configurations -->
    <!-- Created alternate implementation because of a bug on windows in coodez API visualizer version 1.0.1 -->
    <!-- https://code.google.com/p/cuubez/issues/detail?id=5  -->
    <!--
        <listener>
            <listener-class>com.cuubez.visualizer.servlet.VzBootstrapContextListener</listener-class>
        </listener>
    -->

    <listener>
        <listener-class>com.parallax.server.blocklyprop.config.RestAPIVisualizeBootstrap</listener-class>
    </listener>

    <servlet>
        <servlet-name>vapi_servlet</servlet-name>
        <servlet-class>com.cuubez.visualizer.servlet.VzHttpServletDispatcher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>vapi_servlet</servlet-name>
        <url-pattern>/apidoc</url-pattern>
    </servlet-mapping>

    <!-- Monitor -->
    <listener>
        <description>Add Metrics to context</description>
        <listener-class>com.parallax.server.blocklyprop.monitoring.BlocklyPropInstrumentedFilterContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>instrumentedFilter</filter-name>
        <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>instrumentedFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Other servlets -->

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>http://blocklyprop.parallax.com/properties</taglib-uri>
            <taglib-location>/WEB-INF/properties.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://blocklyprop.parallax.com/locale</taglib-uri>
            <taglib-location>/WEB-INF/locale.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://blocklyprop.parallax.com/url</taglib-uri>
            <taglib-location>/WEB-INF/url.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>
